{% extends 'base.html' %}
{% load static %}

{% block content %}

<html lang="en">
<head>
</head>
   <div class="wrapper row3">
  <main class="hoc container clear">

    <section id="introblocks">
      <ul class="nospace group btmspace-80">

        {% for i in pr %}
        <li class="one_third">
          <figure><a class="imgover" href="{{i.get_url}}"><img src="{{i.img.url}}" alt=" " style="height:500;width:500"></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.desc|truncatewords:7}}</p>
              <p>{{i.price}}Rs</p>
              <p>{{i.stock}}</p>
            </figcaption>
          </figure>
        </li>
        {% endfor %}

      </ul>
    </section>
    <hr class="btmspace-80">

    <div class="clear"></div>
  </main>
</div>

</div>

<script src="{% static 'hm/layout/scripts/jquery.min.js'%}"></script>
<script src="{% static 'hm/layout/scripts/jquery.backtotop.js'%}"></script>
<script src="{% static 'hm/layout/scripts/jquery.mobilemenu.js'%}"></script>
{% endblock %}
</body>
</html>
